@tailwind base;
@tailwind components;
@tailwind utilities;

.gambar{
    background-image: url('https://wallpapercave.com/wp/wp7111675.jpg');
}

.pattern{
    background-image: url('https://i.pinimg.com/originals/bc/fa/27/bcfa277eaa73a8981aa411fcb7633c8d.jpg');
}

.tinggi{
    height:800px;
}

.atas{
    margin-top:-80px;
}

.whatsapp-logo {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}

.logo{
    font-family: "Brush Script Std";
    font-weight:100;
}